.labelInput {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    .inputField {
      width: 80px;
      height: 26px;
      font-size: 10px;
      > input {
        text-align: center;
      }
    }
    &:hover {
      .inputClearIcon {
        display: block;
      }
    }
    .inputClearIcon {
      display: none;
    }
}