.shortcut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .modeOptions {
    margin: 10px  0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info {
    margin-bottom: 5px;
    color: rgba(2, 2, 2, 0.26);
    .infoText {
      margin-left: 5px;
    }
  }
}