.automator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bodyArea {
    display: flex;
    justify-content: space-between;
    .leftPanel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .rightPanel {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      gap: 20px;
    }
    .modeOptions {
      margin: 10px 0;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .gameRoundsInput {
      width: 100px;
    }
    .info {
      margin-bottom: 5px;
      color: rgba(2, 2, 2, 0.26);
      .infoText {
        margin-left: 5px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px 0;
      .contentRow {
        display: flex;
        gap: 50px;
        align-items: center;
      }
    }
  }

  .footerNote {
    margin-left: auto;
  }
}
