.logMonitor {
  height: 180px;
  min-width: 280px;
  background-color: #1a1a1a;
  color: white;
  :global {
    .ant-card-body {
      padding: 5px;
      .ant-list-items {
        li {
          padding: 0;
        }
      }
    }
  }
}

.listItem {
  font-size: 12px;
}

.logItem {
  display: flex;
  gap: 8px;
  width: 100%;
}

.timestamp {
  color: white;
  min-width: 60px;
}

.logLevel {
  &--info {
    color: #64f670;
  }
  &--warn {
    color: #ffb74d;
  }
  &--error {
    color: #ff0000;
  }
}